<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Pets</title>
</head>
<body>
    {% for pet in object_list %}
        <h2  href="{%url }">{{ pet.Petname }}</h2>
        <p>ID: {{ pet.id }}</p>
        <p>Species: {{ pet.species }}</p>
        <p>Breed: {{ pet.Breed }}</p>
        <p>Age: {{ pet.Age }}</p>
        <p>Gender: {{ pet.Gender }}</p>
        <p>Description: {{ pet.Description }}</p>
        <img src="{{ pet.image.url }}" alt="Pet Image">
    {% endfor %}
</body>
</html>
