{% extends "ecapp/base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Login</h3>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>

                <small><a href="{% url "password_reset" %}">Forgot password? <a/></small><br>
                
                <div class="text-center text-primary fw-bold">
                    <small>New User? <a href="{% url "customerregistration" %}"   
                     class="text-danger">Create an Account</a></small>
                    </div>         
                
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
            </form>
        </div>   
    </div>
</div>
{% endblock main-content %}
